* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    padding-top: 33px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    width: 41.74%;
    margin-left: 8.28%;
}

.menu {
    width: 41.74%;

}

.name h1 {
    font-size: 19px;
    letter-spacing: 6px;
    color: #707070;
    font-weight: 700;
}

.name p {
    font-size: 8px;
    letter-spacing: 2px;
    color: #c3d0d8;
    font-weight: 400;
}

.menu li {
    float: left;
    margin-left: 3.18%;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.menu a {
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    letter-spacing: 3px;
    color: #707070;
    font-weight: 400;
}

.logo img {
    width: 33px;
    height: 33px;

}

.name {
    margin-left: 1.17%;
}

.menu img {
    margin-left: 3.18%;
}

.bg_li {
    width: 80px;
    height: 30px;
    background-color: #ff5672;
    text-align: center;
}

.center {
    width: 100%;
    height: 900px;
    background-color: #ff5672;
}

.center h1 {
    font-size: 40px;
    letter-spacing: 12px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding-top: 345px;
}

.center p {
    font-size: 17px;
    letter-spacing: 3px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 1.5%;
}

.button {
    background-color: white;
    border: none;
    height: 40px;
    width: 11.85%;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ff5773;
    font-weight: 400;

}

.center input {
    margin-left: 45%;
    margin-top: 2%;
}

.div_p {
    width: 35%;
    margin-left: 32%;
}

.section {
    width: 100%;
    height: 2030px;
}

.section_center {
    width: 60%;
    margin: 0 auto;
}

.div_icon {
    width: 100%;
    text-align: center;
    padding-top: 72px;
}

.div_icon img {
    margin-left: 2%;
}

.section_menu {
    width: 100%;
    margin-left: 21%;
    margin-top: 80px;
}

.section_menu li {
    float: left;
    margin-left: 3.18%;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.section_menu a {
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    letter-spacing: 3px;
    color: #707070;
    font-weight: 400;
}

.div_flax {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    justify-content: space-between;
}

.div_div {
    width: 31%;
    display: block;
}

.div_div1 {
    width: 31%;
    display: block;
}

.div_div2 {
    width: 31%;
    display: block;
}

.div_div div {
    margin-bottom: 30px;
}

.div_div1 div {
    margin-bottom: 30px;

}

.div_div2 div {
    margin-bottom: 30px;
}

.div1 {
    background-color: #f6f6f6;
    width: 100%;
    height: 316px;
    background-image: url("Photo/Mask.png");
    background-position: center;
    background-repeat: no-repeat;
}

.div2 {
    background-color: #f6f6f6;
    width: 100%;
    height: 598px;
}

.div3 {
    background-color: #f6f6f6;
    width: 100%;
    height: 477px;
}

.div4 {
    background-color: #f6f6f6;
    width: 100%;
    height: 246px;
}

.div5 {
    background-color: #f6f6f6;
    width: 100%;
    height: 472px;
}

.div6 {
    background-color: #f6f6f6;
    width: 100%;
    height: 673px;
}

.div7 {
    background-color: #f6f6f6;
    width: 100%;
    height: 538px;
}

.div8 {
    background-color: #f6f6f6;
    width: 100%;
    height: 268px;
}

.div9 {
    background-color: #f6f6f6;
    width: 100%;
    height: 297px;
}

.div10 {
    background-color: #f6f6f6;
    width: 100%;
    height: 258px;
}

.button1 {
    background-color: #ff5672;
    border: none;
    height: 40px;
    width: 20.85%;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
    margin-left: 40%;
}

.section_center p span {
    color: #ff5672;
}

.section_center p {
    color: #f6f6f6;
}

.div_copy {
    width: 100%;
    text-align: center;
    padding-top: 76px;
}

.div_copy p {
    font-size: 13px;
    letter-spacing: 3px;
    color: #c3d0d8;
    font-weight: 400;
}

.div_icoon {
    width: 100%;
    text-align: center;
    padding-top: 47px;
}

.div_icoon img {
    margin-left: 24px;
}
