
.div_html {
    float: left;
    color: #cfcce0a1;
}

#li_about, #li_about1, #li_about2, #li_about3, #li_about4 {
    color: #FF9900;
}

.section_img1 img {
    border: 1px solid gray;
    padding: 10px;
}

.section_img1 {
    width: 560px;

}

.section_center {
    width: 960px;
    height: 720px;
    margin: 0 auto;
    padding: 30px;

}

p, h2, h3, h5 {
    color: gray;
}

.div_text {
    width: 560px;
}

.div_text2 {
    width: 280px;
    float: left;
}

.div_ol {
    width: 250px;
    float: right;

}

.div_ol ol li {
    color: gray;
    line-height: 1.5em;

}

.div_ol a {
    color: #FF9900;
    text-decoration: none;
}

.div_auguer {
    width: 560px;
    margin: 50px 0 0 0;


}

.aside_right {
    width: 350px;
    float: right;
    padding: 10px;
}

.aside_img figure {
    width: 100px;
    float: left;
}

.aside_p {
    width: 240px;
    float: right;

}

.aside_p p {
    font-size: 15px;

}

.aside_center {
    width: 370px;
}


#man_photo {
    float: right;
    width: 400px;
}

#man_photo h2 {
    margin: 0 0 0 25px;
}