
.section_center {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 30px;

}

.div_man {
    width: 550px;
    height: 300px;
    margin: 45px 0 0 45px;
}

.section_img2 img {
    width: 170px;
    float: left;
}

.div_text {
    width: 250px;
    float: right;
}

.name1 {
    width: 100px;
}

.div_text p {
    margin: 20px 0 0 0;
}

.div_event {
    width: 960px;
    margin: 0 auto;
    padding: 30px;
}

.div_event h2 {
    margin: 0 0 0 330px;
}

.div_input form input {
    margin: 30px 0 0 0;
}

.div_input form select {
    margin: 30px 0 0 0;
}

.add {
    width: 320px;
}

.other {
    width: 100px;
}

.input_area {
    width: 50px;
}

#input_right {
    margin: 30px -20px 0 60px;
}

#input_right1 {
    margin: 10px 0 0 60px;
}

#input_right2 {
    margin: 10px 0 0 55px;
}

#input_right3 {
    margin: 30px 0 0 60px;
}

.div_age {
    width: 40px;

}

.add {
    cursor: pointer;
}

.div_virtual {
    width: 550px;
    height: 220px;
    margin: 30px 0 0 0;
}

.div_virtual1 {
    width: 200px;
    float: left;

}

.div_virtual2 {
    width: 200px;
    float: right;

}

#money {
    width: 50px;
    font-weight: bold;

}

.div_virtual_style {
    width: 600px;
    height: 600px;
}

.div_virtual_style span {
    cursor: pointer;
}

.payment_finish label {
    cursor: pointer;
}

.div_finish div {
    margin: 30px 0 0 0;
}

#payment {
    margin: 15px 0 0 128px;
}

#payment1 {
    margin: 15px 0 0 128px;
}

#total {
    margin: 0 100px 0 215px;
}

#quantity {
    margin: 0 0 0 215px;
}

#num {
    width: 40px;
}

#button {
    background-color: #808080b3;
    color: black;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
    font-family: Sylfaen, serif;
    margin: 30px 0 20px 390px;
}

.textarea {
    background-color: #cfcce054;
    height: 100px;
    width: 600px;
    margin: 15px 0 10px 0;
    border-radius: 15px;
    cursor: initial;
    padding: 10px;
    font-size: 15px;
    font-family: Sylfaen, serif;
}

.first {
    margin: 0 10px 0 50px;
    color: #808080b3;
    cursor: pointer;
    font-size: 10px;
}

.second {
    margin: 0 -85px 0 110px;
    color: #808080b3;
    cursor: pointer;
    font-size: 10px;
}

.qanak {
    cursor: pointer;
    margin: 0 0 0 220px;
    color: #808080b3;
}

.total {
    margin: 0 0 0 220px;
}

.gmail {
    margin: 50px;
    color: #808080b3;
    cursor: pointer;
    font-size: 10px;
}

.address {
    margin: 65px;
    color: #808080b3;
    cursor: pointer;
    font-size: 10px;
}

.occupation .company {
    cursor: pointer;
}

.gender1 label {
    cursor: pointer;
}




  