* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Hurrican;
    src: url(fonts/Hurricane-Regular.ttf);
}

@font-face {
    font-family: Pomp;
    src: url('fonts/Pompadour Regular.ttf');
}

h1, h3, p {
    font-family: Hurrican;
}

.div_footer p {
    font-family: Pomp;
}

.header {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 3%;
    background: linear-gradient(to left, rgb(33, 150, 243), rgb(255, 255, 255));
}

.div_menu {
    width: 50%;
}

.div_menu a {
    float: left;
    margin-left: 10%;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

#menu3 {
    color: red;
    border-bottom: 2px solid red;
    transition: 0.4s ease-in-out;
}

#menu1 :hover {
    color: red;
    border-bottom: 2px solid red;
    transition: 0.4s ease-in-out;
    font-size: 25px;
}

#menu2 :hover {
    color: red;
    border-bottom: 2px solid red;
    transition: 0.4s ease-in-out;
    font-size: 25px;
}

.div_logo {
    width: 70%;
}

.div_finish {
    width: 100%;
    height: 800px;
    background-color: #80808024;
}

.div_finish .img {
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: -1;
    margin-top: 5%;
    margin-left: 18%;
}

.button {
    background-color: #8f861d;
    color: white;
    border: none;
    height: 40px;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
    font-family: Sylfaen, serif;

}

.button:hover {
    color: black;
    background-color: gray;
    transition: 0.4s ease-in-out;
    width: 60%;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
}

.div_h1 {
    width: 21%;
    height: 260px;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    z-index: 1;
    margin-left: 47%;
    position: absolute;
    margin-top: 2%;
}

.div_h1 p {
    margin: 8% 0 12% 0;
}

.div_h1 a:hover {
    color: red;
    text-decoration: none;

}

.div_sim {
    width: 30%;
    margin-left: 46%;
    position: absolute;
    display: block;
    margin-top: 30%;
}

.div_sim p {
    margin-top: 15%;
}

.sim1 {
    display: flex;
}

.sim2 {
    display: flex;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8f861d;
    margin-left: 35%;
    margin-top: 15%;
}

.sim {
    width: 30%;
    height: 130px;
    background-color: white;
    border-radius: 10px;
}


.div_sim a {
    text-decoration: none;

}

.div_sim a:hover {
    color: red;

}

.color img {
    width: 60%;
    margin-top: 20%;
}

.div_sim div {
    text-align: center;

}

.sim1 .sim {
    margin: 0 3% 3% 0;
}

.sim2 .sim {
    margin: 0 3% 0 0;
}


.div_footer {
    width: 100%;
    height: 200px;
    background-color: #80808099;

}
.div_footer a:hover {
    color: red;
    text-decoration: none;

}

.div_footer p {
    width: 33%;
    color: white;
    text-align: center;
    margin-left: 35%;
    padding: 2%;
}
