.border_div {
    color: blue;
    width: 500px;
    padding: 15px;
    border: 10px red;
    border-style: dashed;
    border-top-color: #0d9313;
    border-radius: 50px;
    border-top-left-radius: 25px;
    margin: 25px;

}

span[class="text"] {
    color: red;
}

span[class ="text_bold"] {
    color: blue;
}