* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: #101010;
}

header .activ {
    background-color: black;
}

header .main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_header ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.left_header a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: orange;
}

.left_header a:hover {
    color: #fff;
}

.bg_green {
    background-color: greenyellow;
}

.bg_green .main_container {
    padding: 50px 0;
}
.bg_green button{
    padding: 5px;
    margin: 10px 0;
}